            <section class="certifications-section section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.certifications.icon }}"></i>{{ i18n "certifications" }}</h2>
                <div class="certifications">
				{{ range .Site.Params.certifications.list }}
                <div class="item">
                    <li class=".list-item">{{ .certificate }}</li>
                </div><!--//item-->
            {{ end }}
                </div>
            </section><!--//skills-section-->
